<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My current projects</title>
</head>
<body>
<div class="container">
    <div>

        <h1>My Current Projects</h1>

        <div>
            <p>
                Web Development
                Java Developer Portfolio
            </p>
        </div>

        <div>
            <p>
                Java Desktop Development
                Java Desktop Calculator
            </p>
        </div>This div will be centered
    </div>
</div>

</body>
</html>